<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">

			<%= image_tag('twitchy-logo', :retina => true, :alt => "Twitchy Logo", :class => "login-logo") %>
			<p class="login-text">Enter your code below to proceed with login:</p>

			<hr />

			<%= render :partial => "code_form" %>

			<hr />

		</div>
	</div>
</div>