<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">

			<%= image_tag('twitchy-logo', :retina => true, :alt => "Twitchy Logo", :class => "login-logo") %>
			<hr />

			<div class="alert alert-success">
				<p>You have successfully signed into Twitchy with your Twitch.tv account. Please now return to the TV app.</p>
			</div>			

			<hr />

		</div>
	</div>
</div>